[Unit]
Description=Pixie-Net XL Control
After=network.target
Requires=pncontrol.socket

[Service]
Type=simple
ExecStart=/var/www/bin/pncontrol -vv -c /etc/xia/pixie-net-xl/defaults.ini
StandardInput=socket
StandardOutput=socket
StandardError=inherit
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
