[Unit]
Description=PixieNet XL Control
After=network.target
PartOf=pncontrol.socket

[Service]
Type=simple
ExecStart=/root/pncontrol -v
WorkingDirectory=/root
StandardInput=socket
StandardOutput=socket
StandardError=inherit
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target